<h1>LONGEST WORD</h1>
<p>Try to find the longest english word possible with these letters: </p>
<div id="letters">
  <% @letters.each do |letter| %>
    <div class="letter">
      <%= letter %>
    </div>
  <% end %>
</div>
<form action="score" method="POST" data-turbo="false">
  <input class="text-area" type="text" name="guess" placeholder="Type the longest word you can find...">
  <input class="btn-grey" type="submit" value="Submit">
  <input name="letters" type="hidden" value="<%= @letters.join %>">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
<p id="total">Your total is <span class="points"><%= session[:points] %></span> points.</p>
