@import url('container.css');
@import url('form.css');
@import url('letters.css');
@import url('points.css');

body {
  background-color: #FFC436;
  font-family: 'Lucida Sans', Verdana, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lucida Sans', Verdana, sans-serif;
  padding: 0;
  margin: 0;
}
