.container {
  background-color: white;
  width: 60%;
  margin: 50px auto;
  padding: 40px;
}

@media only screen and (max-width: 850px) {
  .container {
    width: 80%;
  }
}

/* poursuivre la responsive */
@media only screen and (max-width: 450px) {
  .container {
    width: 100%;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  body {
    padding: none;
    margin: 0;
  }
}

.container h1 {
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
  text-align: center;
}
