#letters {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding-bottom: 20px;
}

@media only screen and (max-width: 650px) {
  #letters {
    grid-template-columns: repeat(5, 1fr);
  }
}

.letter {
  width: 20px;
  background-color: #e3ad2d;
  text-align: center;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 1 1 1 rgba(0,0,0,0.2);
  font-weight: 500;
  color: white;
}

#total {
  text-align: center;
}
